.menu {
	@apply px-6 items-start gap-3 grow hidden lg:flex;
}

.menu .menu_link {
	@apply text-xs xl:text-sm font-medium pb-1 text-dark relative transition duration-300 hover:text-gray;
}

.menu .menu_link::after {
	@apply content-[""] w-4 h-[3px] rounded-[32px] bg-orange block absolute bottom-0 left-1/2 -translate-x-1/2 opacity-0 transition duration-300;
}

.menu .menu_link:global(.active) {
	@apply font-semibold text-primary;
}

.menu .menu_link:global(.active)::after {
	@apply opacity-100;
}

.menu .ddl_lbl {
	@apply text-xs xl:text-sm font-medium pb-1 text-dark relative transition duration-300 hover:text-gray;
}

.menu .ddl_lbl :global(.p-button-label) {
	@apply relative;
}

.menu .ddl_lbl :global(.p-button-label)::after {
	@apply content-[""] w-4 h-[3px] rounded-[32px] bg-orange block absolute -bottom-1 left-1/2 -translate-x-1/2 opacity-0 transition duration-300;
}

.menu .ddl_lbl.show {
	@apply text-gray;
}

.menu .ddl_lbl.active {
	@apply font-semibold text-primary;
}

.menu .ddl_lbl.active :global(.p-button-label)::after {
	@apply opacity-100;
}

.ddl_menu::before,
.ddl_menu::after {
	display: none;
}

.ddl_menu {
	@apply py-0 bg-white border border-border-light rounded-lg min-w-60 max-w-full;
	box-shadow:
		0px 10px 20px 0px #1f293729,
		0px 0px 6px 0px #1f29370d;
}

.ddl_menu .ddl_menu_link {
	@apply py-3 px-4 flex items-center justify-between w-full text-sm text-dark transition duration-300 hover:bg-ghost-white;
}

.ddl_menu .ddl_menu_link:global(.active) {
	@apply bg-ghost-white;
}

.menu_wrapper {
	@apply flex items-stretch bg-white border border-border-light min-w-max rounded-lg;
	box-shadow:
		0px 10px 20px 0px #1f293729,
		0px 0px 6px 0px #1f29370d;
}

.menu_main {
	@apply min-w-[240px] py-3;
}

.menu_sub {
	@apply border-s border-border-light opacity-0 pointer-events-none w-[240px] max-w-0 overflow-hidden py-3 transition-all duration-300 ease-in-out;
}

.menu_sub.open {
	@apply max-w-[240px] opacity-100 pointer-events-auto;
}

.arrow {
	@apply ltr:-rotate-90 rtl:rotate-90;
}

.active_parent {
	@apply bg-ghost-white;
}

.ddl_menu_custom {
	@apply ltr:!-left-8 rtl:-right-8 !top-full;
}
