*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

[dir="ltr"] body {
	@apply font-inter;
}

[dir="rtl"] body {
	@apply font-alexandria;
}

[dir="ltr"] {
	direction: ltr;
}

[dir="rtl"] {
	direction: rtl;
}

#root {
	min-height: 100vh;
}

/* custom Scrollbar */
*::-webkit-scrollbar {
	width: 4px;
	height: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: darkgray;
	border-radius: 4px;
}

*::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

/* Custom Scrollbar for Firefox */
@-moz-document url-prefix() {
	* {
		scrollbar-width: thin;
		scrollbar-color: darkgray #f1f1f1;
	}
}

/* global styles */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none; /* IE/Edge */
	scrollbar-width: none; /* Firefox */
}

.input_holder {
	@apply flex flex-col gap-2 lg:gap-5;
}

.input_holder h6 {
	@apply text-sm text-dark;
}

.input_holder h6.required {
	@apply after:content-["*"] after:inline-block after:ms-[6px] after:text-red after:font-bold after:text-sm;
}

.input_holder:not(:has(.p-dropdown)) .p-inputtext {
	@apply w-full block bg-white p-3 border border-border-light rounded-md text-sm transition-all duration-300 hover:border-primary-hover;
}

.input_holder:not(:has(.p-dropdown)) .p-inputtext:focus,
.input_holder:not(:has(.p-dropdown)) .p-inputtext:focus-visible {
	@apply border-primary-hover outline-0;
	box-shadow: 0px 4px 6px 0px #1f29370a;
}

.input_holder .p-inputtextarea {
	@apply h-[100px];
}

.input_holder .p-dropdown {
	@apply w-full bg-white border border-border-light rounded-md transition-all duration-300 hover:border-primary-hover;
}

.input_holder .p-dropdown.p-inputwrapper-focus {
	@apply border-primary-hover outline-0;
	box-shadow: 0px 4px 6px 0px #1f29370a;
}

.input_holder .p-dropdown .p-dropdown-label {
	@apply p-3 text-sm;
}

.input_holder .p-dropdown .p-dropdown-trigger {
	@apply w-12;
}

.dropdown_menu {
	@apply rounded-md;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.dropdown_menu .p-dropdown-items {
	@apply bg-white rounded-md py-3;
}

.dropdown_menu .p-dropdown-items .p-dropdown-item {
	@apply py-3 px-5 text-sm text-dark transition-all duration-300 hover:bg-ghost-white;
}

.dropdown_menu .p-dropdown-items .p-dropdown-item.p-highlight {
	@apply bg-primary-bg;
}

*::placeholder,
.p-placeholder {
	@apply text-sm text-light;
}

.p-slider {
	@apply h-1 bg-[#EFF0F1] rounded-lg;
}

.p-slider .p-slider-range {
	@apply bg-primary rounded-lg;
}

.p-slider .p-slider-handle {
	@apply bg-white w-5 h-5 shadow-[0px_4px_6px_0px_#1F29370A] border border-border-light rounded-full top-1/2 -translate-y-1/2;
}
