*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;

	&:dir(ltr) {
		@apply font-inter;
	}

	&:dir(rtl) {
		@apply font-alexandria;
	}
}

[dir="ltr"] {
	direction: ltr;
}

[dir="rtl"] {
	direction: rtl;
}

#root {
	min-height: 100vh;
}

/* custom Scrollbar */
*::-webkit-scrollbar {
	width: 4px;
	height: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: darkgray;
	border-radius: 4px;
}

*::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

/* Custom Scrollbar for Firefox */
@-moz-document url-prefix() {
	* {
		scrollbar-width: thin;
		scrollbar-color: darkgray #f1f1f1;
	}
}

/* global styles */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none; /* IE/Edge */
	scrollbar-width: none; /* Firefox */
}

.input_holder {
	@apply flex flex-col gap-2;

	h6 {
		@apply text-sm text-dark;

		&.required {
			@apply after:content-["*"] after:inline-block after:ms-[6px] after:text-red after:font-bold after:text-sm;
		}
	}

	.p-inputtext {
		@apply w-full block bg-white p-3 border border-border-light rounded-md text-sm transition-all duration-300 hover:border-primary-hover;

		&:focus,
		&:focus-visible {
			@apply border-primary-hover outline-none;
			box-shadow: 0px 4px 6px 0px #1f29370a;
		}
	}

	.p-inputtextarea {
		@apply h-[100px];
	}
}
