@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Inter";
	src: url("./assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: "Alexandria";
	src: url("./assets/fonts/Alexandria-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[dir="ltr"] body {
	@apply font-inter;
}

[dir="rtl"] body {
	@apply font-alexandria;
}

[dir="ltr"] {
	@apply font-inter;
}

[dir="rtl"] {
	@apply font-alexandria;
}

code {
	font-family:
		source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
